h1 {text-align: center}
.red {color: red}
.blue {color: blue;}
.green {color: green}
.big {font-size: 85px}
.tiny {font-size: 5px}
.center {text-align: center}
.bold {font-weight: bold}
.coolfont {font-family: sans-serif}
.multiple {color: orange; font-size: 60px; font-weight: bold}
.styledFont {color: green}
#styledImage { border: 10px solid black;  padding: 15px}